:root {
  --primary-text-color: #212121;
  --title-tex-color: #757575;
  --accent-color: #2196f3;
  --pimary-white-color: #ffffff;
  --secondary-white-color: #f5f5f5;
}

body {
  color: var(--primary-text-color);
  background-color: var(--secondary-white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  cursor: pointer;
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-title {
  color: var(--accent-color);
}

/* .logo:hover,
.logo-title:hover,
.logo:focus,
.logo-title:focus {
  color: var(--accent-color);
}  */

.list {
  list-style: none;
}

/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* auth-nav */

.auth-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* hero */
.hero-title {
  color: var(--primary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* button */

.button {
  color: var(--primary-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--pimary-white-color);
  background-color: var(--accent-color);
}

.button :hover,
.button :focus,
.link :hover,
.link :focus {
  background-color: var(--accent-color);
  color: var(--pimary-white-color);
}

/* secton */

.section-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.title-preferens {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.p-preferens {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.title-examples {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.team-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.p-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

/* footer */

.geo {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--pimary-white-color);
  background: #2f303a;
}

.mailtotel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
}

/* portfolio */

.foto-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.p-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-tex-color);
}

/* основний колір тексту, колір підпису посади #212121 */
/* додатковий колір тексту (заголовки, колір імен і тд) #757575 */
/* колір логотипу, посилань 2196F3 */
/* додатк фон букв футера #FFFFFF 60% */
/*  колір адреси, напис на банері #FFFFFF */
/* колір фону основний F5F5F5 */
/* фон навігації #FFFFFF */
/* фон осн сторінки, фон футера #2F303A */
/* фон зразків роботи #F5F5F5 */
/* фон наша команда #F5F4FA */
