:root {
  --primary-text-color: #212121;
  --title-tex-color: #757575;
  --accent-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  background-color: #f5f5f5;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

 .logo-title {
  color: var(--accent-color);
}

/* .logo:hover,
.logo-title:hover,
.logo:focus,
.logo-title:focus {
  color: var(--accent-color);
}  */

.list {
  list-style: none;
}

/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus
.site-nav .link.current 
 {
  color: var(--accent-color);
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* hero */
.hero-title {
  color: var(--primary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  }

/* secton */

.section-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* основний колір тексту, колір підпису посади #212121 */
/* додатковий колір тексту (заголовки, колір імен і тд) #757575 */
/* колір логотипу, посилань 2196F3 */
/* додатк фон букв футера #FFFFFF 60% */
/*  колір адреси, напис на банері #FFFFFF */
/* колір фону основний F5F5F5 */
/* фон навігації #FFFFFF */
/* фон осн сторінки, фон футера #2F303A */
/* фон зразків роботи #F5F5F5 */
/* фон наша команда #F5F4FA */
